.right {
  height:100%;
  width:55%;
  position: absolute;
  top:0;
  right:0;

  .border {
    position: absolute;
    left:0%;
    top: 50%;
    margin-top: -225px;
    width:552px;
    height:452px;
    border: 1px solid #fff;
  }
}
