.switch_border{
  width:20px;
  height:40px;
  border:1px solid #fff;
  margin: 10px 20px;
  position: relative;
  display: inline-block;

  .switch{
    position: relative;
    width:20px;
    height: 20px;
    margin-left: -1px; /* TODO: temp solution to CSS conflict */
    background-color: #fff;
  }

  .switch_up {
    margin-top: 0px;
    animation: lift 0.3s linear;
  }

  .switch_down {
    margin-top: 20px;
    animation: lift 0.3s linear;
    animation-direction: reverse;
  }

  @keyframes lift {
    0% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0px; 
    }
  }
}


