.button_border {
  width:26px;
  height:26px;
  border:1px solid #fff;
  margin:17px;
  position: relative;
  display: inline-block;

  .button {
    position: relative; /* TODO:            */
    left: -1px;         /* temp solution to */
    top: -1px;          /* CSS conflict     */
    /*
    width:18px;
    height:18px;
    border-radius:9px;
    margin:4px;
    */
    background-color: #fff;
  }

  .button_down {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    margin: 7px;
    animation: inflate 0.3s linear;
    animation-direction: reverse;
  }

  .button_up {
    height: 18px;
    width: 18px;
    border-radius: 9px;
    margin: 4px;
    animation: inflate 0.3s linear;
  }

  @keyframes inflate {
    0% {
      height: 12px;
      width: 12px;
      border-radius: 6px;
      margin: 7px;
    }
    100% {
      height: 18px;
      width: 18px;
      border-radius: 9px;
      margin: 4px;
    }
  }  
}
