.discuss_contain {
  padding-left: 20px;

  & > div {
    width:218px;
    height:20px;
    border: 1px solid #fff;
    text-align: center;
  }

  .text {
    margin-top: 15px;

    .input_biu {
      width: 212px;
      height: 16px;
      background-color: #000;
      border: none;
      color: #fff;
    }
  }

  .biu {
    margin-top: 15px;
    background-color: #fff;
  }
}
