<html>
<head>
	<meta charset="UTF-8">
	<title>Exotic</title>
	<link rel="stylesheet" href="/static/style/style.css">
	<script src="/static/javascript/lib/jquery-2.2.0.min.js"></script>
</head>
<body>
	<header>
		<span id="word_exotic">Exotic</span>
		<ul id="nav">
			<li><a href="#">Console</a></li>
			<li><a href="#">Account</a></li>
			<li><a href="#">Reference</a></li>
		</ul>
	</header>
	<div id="main" class="">
		<div id="left">
			<div id="sentence">
				<p class="not_link">First Computer of mine.</p>
				<p class="not_link">Inside outside.</p>
				<p class="link"><a href="#sign">Create your first computer ></a></p>
			</div>
		</div>
		<div id="sign">
			<div id="form">
				<input type="text" id="input_email" placeholder="E-mail Address"/>
				<input type="password" id="input_pwd" placeholder="Password"/>
				<div id="error"></div>
				<div id="button_contain">
					<div class="button white" id="major">SIGN IN</div>
					<span id="or">or</span>
					<div id="minor" class="button black">SIGN UP</div>
				</div>
			</div>
		</div>
		<div id="right">
			<img src="/static/img/background.jpg" alt="">
		</div>
	</div>
	<script>
	  window.config = {
	  	user: '{{config._user}}',
	  	password: '{{config._password}}',
	  	nickname: '{{config._nickname}}'
	  };
	</script>
	<script src="/static/javascript/main.js"></script>
</body>
</html>
