<html>
<body>
    <h1>Welcome {% if user is not None%}{{user}}{% end %}</h1>
    {% if user is not None%}
    <a href='/logout'>Logout</a>
    {% else %}
    <a href='/login'>Login</a>
    <a href='/register'>Register</a>
    {% end %}
    {% if len(status) > 0%}
        <ul>
        {% for item in status %}
            <li>
                <a href='/live/{{item['index']}}/'>index : {{item['index']}}, device_id: {{item['device_id']}}</a>
                <div>has admin? : {{item['admin']}}</div>
                <div>users in this room {{item['user_number']}}</div>
                <div>file status: {{ item['file'] }}</div>
            </li>
        {% end %}
        </ul>
    {% else %}
        <p>并没有板子啊！</p>
    {% end %}
</body>
</html>
