<html>
<body>
    <h1>Welcome, {{nickname}}</h1>
    <p>rtmpURI : rtmp://{{rtmpHost}}:{{rtmpPullPort}}/{{rtmpAppName}}/{{streamName}}</p>
    <button onclick='server.user.acquire()'>acquire</button>
    <button onclick='server.user.release()'>release</button>
    <form action='./file' enctype="multipart/form-data" method='post' target= "hframe">
        <input type='file' name='file' id='file' />
        <select name='filetype' id="mySelect">
            <option>bit</option>
            <option>disk</option>
        </select>
        <input type='submit' name='submit' value='Upload'/>
		{% raw xsrf_form_html() %}
        <iframe name ="hframe" id="hframe" style=" display: none"></iframe >
    </form>
    <div>
        <label for="filetypeSelect">下载文件类型：</label>
        <select name='filetype' id="filetypeSelect" onchange="linkchange()">
            <option>bit</option>
            <option>disk</option>
        </select>
        <a id='download' href='./file/'></a>
    </div>
    <form target='_self' onsubmit="return inputMessage()">
        <span>Say something: </span>
        <input type='text' id='message'/>
        <input type='submit' value='Send'/>
    </form>
    <button onclick='server.keyPress(1)'>key 1 press</button>
    <button onclick='server.switchOn(2)'>switch 2 On</button>
    <button onclick='server.switchOff(2)'>switch 2 Off</button>
    <button onclick='server.buttonPress(3)'>button 3 press</button>
    <button onclick='server.buttonRelease(3)'>button 3 Release</button>
    <div id='messageBox'></div>
    <script src='/static/server.js'></script>
    <script>
        var messageBox = document.getElementById('messageBox');
        messageBox.prependChild = function(o){
            if (this.hasChildNodes()){
                this.insertBefore(o, this.firstChild);
            }else{
                this.appendChild(o);
            }
        }
        var messageText = document.getElementById('message');
        var filetypeSelect = document.getElementById('filetypeSelect');
        var download = document.getElementById('download')
        window.addEventListener('keypress', function(event){
            if (messageText != document.activeElement)
                server.keyPress(event.keyCode);
        });
        function inputMessage(){
            server.broadcast(messageText.value);
            messageText.value = '';
            return false;
        }
        function newMessage(msg){
            var div  = document.createElement('div');
            div.innerHTML = msg;
            messageBox.prependChild(div);
        }
        function linkchange(){
            type = filetypeSelect.value;
            download.href = "./file/" + type;
            download.innerHTML = "Download uploaded " + type + " file";
        }
        linkchange();
        server.remote.setKeyPress(function(code){
            newMessage('Key Press ' + code);
        });
        server.remote.setSwitchOn(function(id){
            newMessage('Switch On ' + id);
        });
        server.remote.setSwitchOff(function(id){
            newMessage('Switch Off ' + id);
        });
        server.remote.setButtonPress(function(id){
            newMessage('Button Press ' + id);
        });
        server.remote.setButtonRelease(function(id){
            newMessage('Button Release ' + id);
        });
        server.remote.setUserChange(function(user){
            newMessage('user Change to ' + user);
        });
        server.remote.setLeave(function(){
            newMessage('FPGA leave');
        });
        server.remote.setFileUpload(function(info){
            newMessage('file received with size: ' + info.size);
        });
        server.remote.setFileProgram(function(size){
            newMessage('file programed success with size: ' + size);
        });
        server.remote.setBroadcast(function(messageObj){
            var a = new Date();
            a.setTime(messageObj.timestamp * 1000);
            newMessage(a.toLocaleString() + ' ' + messageObj.nickname + ' : ' + messageObj.content);
        });
    </script>
</body>
</html>
