<html>
<body>
	<form target='_self' method='post'>
		<div>
			<!-- <label for="{{config._user}}">用户名</label> -->
			<input type='text' value='' name='{{config._user}}'/>
		</div>
		{% if showtype == 'register'%}
		<div>
			<label for="{{config._nickname}}">昵称</label>
			<input type='text' value='' name='{{config._nickname}}'/>
		</div>
		{% end %}
		<div>
			<!-- <label for="{{config._password}}">密码</label>-->
			<input type='password' value='' name='{{config._password}}'/>
		</div>
		{% raw xsrf_form_html() %}
		<button type='submit'>{{showtype}}</button>
		{% if showtype == 'login' %}
		<a href="/register">Register</a>
		{% end %}
	</form>
</body>
</html>
