.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 450px;
  overflow: hidden;
  pointer-events: none;
  
  .bullet {
    position: absolute;
    color: white;
    z-index: 100;
    font-size: 24px;
    white-space: nowrap;
  }
}
